@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.background {
    width: 50%;
    height: 100%;
    background: #267DFF;
}

.background .title {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff 


}


.background .title .box_title {
  text-align: left;
}


.login {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box_login {
    width: 100%;
    padding: 0 180px ;
}

.login .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: #120822;
}

.box_login .hr {
    display: flex;
    width: 50px;
    height: 5px;
    background: #267DFF;
    margin-top: 10px;
    
    

}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em
}

.login form input {
    border: none;
    border-bottom: 1px solid #efefef;
    padding: 10px 5px;
    outline: none;
    color: #120822;
    
}
input::placeholder{
    color: #BBBABE
}

button {
    background: #267DFF;
    border: none;
    border-radius: 25px;
    padding: 12px;
    color: #fff
}
.signup {
    display: flex;
    justify-content: center;
    color: #120822;
    margin-top: 15px;
    font-size: 0.8em;
}

.signup a {
    outline: none;
    text-decoration: none;
    color:  #120822;
}

